{% extends 'base.html.twig' %}
{% block title %} Accueil {% endblock %}
{% block main %}

<div class="max-w-4xl mx-auto px-4 py-8">

        <h1 class="h1 font-bold text-center">Spécialités culinaires du monde</h1>
        <p>Ce site vous propose de découvrir des spécialités de plusieurs pays du monde. Consultez-les depuis le menu en
                fonction des régions.</p>
</div>
{% endblock %}