{% extends 'base.html.twig' %}
{% block title %} Spécialités culinaires du monde {% endblock %}
{% block main %}
     <!-- fil d'ariane -->
        <nav class="flex items-center text-sm text-gray-600 mt-4" aria-label="Fil d'Ariane">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a href="{{ path('home') }}" class="inline-flex items-center text-gray-600 hover:text-[#3ca0e7]">
                    Accueil
                </a>
            </li>
        </ol>
        </nav>

        <h1 class="h1 font-bold"> Les nourritures du monde</h1>
        <p> ce site vous propose de découvrir des spécialités de plusieurs pays du monde.</p>
{% endblock %}