{% extends 'base.html.twig' %}
{% block body %}
    <h1>Accueil</h1>
    <ul>
        <li><a href="{{ path('flams') }}">Go to Flam's Page</a></li>
        <li><a href="{{ path('americain') }}">Go to Américain's Page</a></li>
        <li><a href="{{ path('pierogi') }}">Go to Pierogi's Page</a></li>
        <li><a href="{{ path('dahl') }}">Go to Dahl's Page</a></li>
    </ul>
{% endblock %}