{% extends 'base.html.twig' %}
{% block title %}Américain{% endblock %}


{% block main %}
<!-- Skip link -->

<!--Fil d'ariiane -->
  <nav class="flex items-center text-sm text-gray-600 mt-4" aria-label="Fil d'Ariane">
  <ol class="inline-flex items-center space-x-1 md:space-x-3">
    
    <!-- Accueil -->
    <li class="inline-flex items-center">
      <a href="{{ path('home') }}" 
         class="inline-flex items-center text-gray-600 hover:text-[#3ca0e7] focus:text-[#3ca0e7]">
        Accueil
      </a>
    </li>

    <!-- pays avec sous-menu -->
    <li class="relative group focus-within:z-20">
      <div class="flex items-center">
        <span class="mx-2 text-gray-400">></span>

          <li><a href="{{ path('reunion') }}" class="block px-4 py-2 text-gray-800 hover:bg-blue-50 focus:bg-blue-100" role="menuitem">Ile Maurice</a></li>

        </ul>
      </div>
    </li>

    <!-- affichage nom du plat -->
    <li class="relative group focus-within:z-20">
      <div class="flex items-center">
        <span class="mx-2 text-gray-400">></span>
        <button
          type="button"
          aria-haspopup="menu"
          aria-expanded="false"
          class="ml-1 text-gray-600">
          Dhal Puri <span class="ml-1"></span>
        </button> 
      </div>
    </li>
  </ol>
</nav>
<!--Fin du fil d'arianne-->

<p>Le dahl puri est une galette (un puri) à 
  base de pois cassés (dal) originaire d'Inde, qui fait partie de la cuisine mauricienne et de la cuisine antillaise. 
  Dhal puri. Le dholl puri est une icône à Maurice.</p>



{% endblock %}
