{% extends 'base.html.twig' %}
{% block main %}
<nav class="flex items-center text-sm text-gray-600 mt-4" aria-label="Fil d'Ariane">
    <ol class="inline-flex items-center space-x-1 md:space-x-3">

        <li class="inline-flex items-center">
            <a href="{{ path('home') }}"
                class="inline-flex items-center text-gray-600 hover:text-[#3ca0e7] focus:text-[#3ca0e7]">
                Accueil
            </a>
            <span class="mx-2 text-gray-400">></span>
        </li>

        <li class="relative group focus-within:z-20">
            <a href="{{ path('france') }}"
                class="inline-flex items-center text-gray-600 hover:text-[#3ca0e7] focus:text-[#3ca0e7]">France</a>
        </li>
    </ol>
</nav>

<div id="mainContent">
    <h1 class="h1 font-bold">La France</h1>
    <p>La France est un pays riche en culture et en histoire. De la Tour Eiffel à la cuisine française, il y a tant à découvrir.</p>

    <h2 class="h2">Les régions de France et leurs spécialités</h2>
    <ul class="list-disc list-inside">
        <li><a href="{{ path('flams') }}" class="inline-flex items-center text-gray-600 hover:text-[#3ca0e7] focus:text-[#3ca0e7] underline">Alsace : Tartes flambées</a></li>
        <li>Provence-Alpes-Côte d'Azur : Pissaladière</li>
        <li>Nouvelle-Aquitaine : Lamproie à la bordelaise</li>
        <li>Auvergne-Rhône-Alpes : Gratin dauphinois</li>
        <li>Bretagne : Galettes de sarrasin</li>
    </ul>
</div>
{% endblock %}
